.container {
  width: 980px;
  margin: 0 auto;
}

#categoryContainer {
  margin-top: 128px;
  width: 50%;
  float: right;
}

#gitHubWrap {
  margin-top: 128px;
  width: 50%;
  float: left;
}

.gitHubLogin {
  padding: 0;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
}
